:root {
    /* Animation Durations */
    --width: 310ms;
    --shrink: 710ms;
    --expand: 710ms;
    --tilt: 425ms;
    --bolder-border: 770ms;

    /* Props */
    --bolder-border--light-border: 1px dashed #ccc;
    --bolder-border--bold-border: 1px dashed #797979;
}

.tilt {
    animation-name: tilt;
    animation-duration: var(--tilt);
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation-iteration-count: 1;
}

@keyframes tilt {
    0%, 100% {
        transform: translateX(0);
    }
    12.5%, 62.5% {
        transform: translateX(-12px);
}
    37.5%, 77.5% {
        transform: translateX(12px);
    }
}

.bolder-border {
    animation-name: bolder-border;
    animation-duration: var(--bolder-border);
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes bolder-border {
    0% {
        border: var(--bolder-border--light-border);
    }
    100% {
        border: var(--bolder-border--bold-border);
    }
}

.shrink {
    animation-name: shrink;
    animation-duration: var(--shrink);
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes shrink {
    100% {
        transform: scale(0);
        width: 0;
        height: 0;
    }
}

.expand {
    animation-name: expand;
    animation-duration: var(--expand);
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes expand {
    0% {
        transform: scale(0);
    }
    70%, 100% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.7);
    }
}