/* Life Cycle */
.hidden {
    display: none;
}
.hint {
    border: var(--bolder-border--light-border);
}
.blank {
    border: var(--bolder-border--bold-border);
}

*.hint,
*.blank {
    background-color: unset !important;
}

/* Cd Display */
*.on-cd::before {
    content: '';
    position: absolute;
    background: conic-gradient(transparent var(--cooldownGenerator-oncd-dg, 0deg), #00000050 0deg);
    border-radius: inherit;
    width: inherit;
    height: inherit;
    pointer-events: none;
}

/* Cost Preview */
div.cost-preview div.point.basic {
    max-width: 24px;
    max-height: 24px;
    margin: 3px;
    opacity: 0.55;
}

div.cost-preview div.point.solid {
    max-width: 30px;
    max-height: 30px;
    opacity: 0.55;
}

div.cost-preview div.point.solid div.inner-point {
    background-color: orange;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 4px 2px #ffffff;
}

div.cost-preview .point.energy {
    width: 18px;
    height: 18px;
    margin: 6px;
    opacity: 0.55;
}

/* Gen buffs and status - Point chances */

#central #generators-container .wrapper .generator-status {
    max-width: 70%;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
#central #generators-container .wrapper #pulseGenerator ~ .generator-status {
    transform: translateY(16px);
} 

/* Point Chance */

#central #generators-container .wrapper .generator-status div.point-chance {
    --point-chance-percent: 100%;

    --point-base-unit: 18px;
    --point-max-unit: 24px;

    --point-base-width: var(--point-base-unit);
    --point-base-height: var(--point-base-unit);
    --point-base-margin: calc((var(--point-max-unit) - var(--point-base-unit)) / 2);

    display: flex;
}

div.point-chance .point[data-generator-status="point-chance"] {
    mask-image: conic-gradient(black var(--point-chance-percent), transparent var(--point-chance-percent) 100%);
}

/* Basic Point */
div.point-chance .point.basic {
    width: var(--point-base-width);
    height: var(--point-base-height);
    margin: var(--point-base-margin);
}

/* Solid Point */
div.point-chance .point.solid {
    --point-solid-unit: var(--point-max-unit);

    --point-base-width: var(--point-solid-unit);
    --point-base-height: var(--point-solid-unit);
    --point-base-margin: calc((var(--point-max-unit) - var(--point-solid-unit)) / 2);

    width: var(--point-base-width);
    height: var(--point-base-height);
    margin: var(--point-base-margin);
}
div.point-chance .point.solid div.inner-point {
    width: calc((var(--point-base-width) / 3) * 2);
    height: calc((var(--point-base-height) / 3) * 2);
}

/* Energy Point */
div.point-chance .point.energy {
    --point-energy-unit: calc(var(--point-base-unit) * 0.75);

    --point-base-width: var(--point-energy-unit);
    --point-base-height: var(--point-energy-unit);
    --point-base-margin: calc((var(--point-max-unit) - var(--point-energy-unit)) / 2);

    width: var(--point-base-width);
    height: var(--point-base-height);
    margin: var(--point-base-margin);
}

/* Cd Charges */

div.cd-charges-wrap {
    position: absolute;
    height: var(--cd-gen-height);
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 8px;
}

div.cd-charges-wrap .cd-charge {
    --charge-hover-transform: scale(1.3);
    --charge-active-transform: scale(1.2);

    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(var(--cd-gen-bg-color));
    cursor: pointer;
    transition: opacity var(--opacity), transform var(--transform);
}
div.cd-charges-wrap .cd-charge:hover {
    transform: var(--charge-hover-transform);
}

div.cd-charges-wrap .cd-charge:active {
    transform: var(--charge-active-transform);
}
#cooldownGenerator.hint ~ div.cd-charges-wrap .cd-charge:first-child,
#cooldownGenerator.blank ~ div.cd-charges-wrap .cd-charge:first-child {
    opacity: 0;
}
#cooldownGenerator ~ div.cd-charges-wrap .cd-charge:first-child {
    opacity: 1;
}

/* Pulse Cells*/

div.pulse-cells-wrap {
    position: absolute;
    height: var(--cell-gen-height);
    top: -8px;
    left: -16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.pulse-cells-wrap .pulse-cell {
    --pulse-cell-load: 0%;

    width: 16px;
    height: 48px;
    border-radius: 16px;
    background: linear-gradient(to top,
        rgb(var(--pulse-gen-bg-color)) 0%,
        rgb(var(--pulse-gen-bg-color)) var(--pulse-cell-load),
        rgb(var(--pulse-gen-bg-color), 0.25) var(--pulse-cell-load),
        rgb(var(--pulse-gen-bg-color), 0.25) 100%);
    border: 2px rgb(var(--pulse-gen-bg-color)) solid;
    cursor: pointer;
}

#pulseGenerator.hint ~ div.pulse-cells-wrap .pulse-cell:first-child,
#pulseGenerator.blank ~ div.pulse-cells-wrap .pulse-cell:first-child {
    opacity: 0;
}
#pulseGenerator ~ div.pulse-cells-wrap .pulse-cell:first-child {
    opacity: 1;
}