/* Central */
#central {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

#central #generators-container {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

#central #generators-container .wrapper {
    position: relative;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

/* Generators */
.cell {
    --cell-hover-transform: scale(1.15);
    --cell-active-transform: scale(1.05);

    border-radius: 32px;
    height: var(--cell-gen-width);
    width: var(--cell-gen-height);
    text-align: center;
    transition-duration: var(--transform);

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cell:hover {
    cursor: pointer;
    transform: var(--cell-hover-transform);
}

.cell:active {
    transform: var(--cell-active-transform);
}

.cell.hint {
    border: var(--bolder-border--light-border);
}

.cell.blank {
    border: var(--bolder-border--bold-border);
}

.cell:disabled {
    opacity: 0.6;
    cursor: default;
    transform: none;
}

.cell .cost-preview {
    height: auto;
    width: auto;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0;
    transition-duration: inherit;
}

.cell:hover .cost-preview {
    opacity: 1;
}

.cell div.ripple {
    position: absolute;
    background: inherit;
    border-radius: inherit;
    width: inherit;
    height: inherit;
    pointer-events: none;
    transform: scale(0.8);
    opacity: 0.8;
}

/* Click */
#clickGenerator.cell {
    background-color: rgb(var(--click-gen-bg-color));
}
#clickGenerator.cell:active {
    background-color: rgb(var(--click-gen-bg-color), var(--active-gen-opacity-color));
}

/* CoolDown */
#cooldownGenerator.cell {
    width: var(--cd-gen-width);
    height: var(--cd-gen-height);
    background-color: rgb(var(--cd-gen-bg-color));
    border-radius: 24px;
}
#cooldownGenerator.cell:active {
    background-color: rgb(var(--cd-gen-bg-color), var(--active-gen-opacity-color));
}
#cooldownGenerator.cell.hint {
    background-color: unset;
}
#cooldownGenerator.cell.blank {
    --bg-color: rgb(var(--cd-gen-bg-color), var(--building-opacity-color));
}

/* Pulse */
#pulseGenerator {
    --pulseGenerator-transform-rotate: rotate(45deg);
}
#pulseGenerator.cell {
    width: var(--pulse-gen-width);
    height: var(--pulse-gen-height);
    transform: rotate(45deg);
    background-color: rgb(var(--pulse-gen-bg-color));
    position: relative;
    border-radius: 16px 24px 16px 24px;
}
#pulseGenerator.cell:active {
    background-color: rgb(var(--pulse-gen-bg-color), var(--active-gen-opacity-color));
    transform: var(--cell-active-transform) var(--pulseGenerator-transform-rotate) !important;
}
#pulseGenerator.cell:hover {
    transform: var(--cell-hover-transform) var(--pulseGenerator-transform-rotate);
}
#pulseGenerator.cell.hint {
    background-color: unset;
}
#pulseGenerator.cell.blank {
    --bg-color: rgb(var(--pulse-gen-bg-color), var(--building-opacity-color));
    --direction: -45deg;
}

#pulseGenerator.cell.on-cd::before {
    transform: rotate(-45deg);
    width: 140%;
    height: 140%;
}

#pulseGenerator.cell .cost-preview {
    position: relative;
    left: 4px;
    top: 4px;
}