:root {
    --rows: 6;
    --columns: 6;

    --cell-gen-width: 128px;
    --cell-gen-height: 128px;
    --cd-gen-width: 96px;
    --cd-gen-height: 160px;
    --pulse-gen-width: 112px;
    --pulse-gen-height: 112px;

    --click-gen-bg-color: 255, 165, 0;
    --color-preview: rgb(255, 165, 0);

    --cd-gen-bg-color: 255, 99, 0;
    --color-preview: rgb(255, 99, 0);
    --cd-gen-oncd-bg-color: #805840;

    --charge-gen-bg-color: 162, 0, 255;
    --color-preview: rgb(162, 0, 255);

    --active-gen-opacity-color: 0.75;

    --point-base-unit: 48px;
    --point-max-unit: 60px;

    --point-base-width: var(--point-base-unit);
    --point-base-height: var(--point-base-unit);
    --point-base-margin: calc((var(--point-max-unit) - var(--point-base-unit)) / 2);
}

#container {
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

#saveGame, 
#resetGame {
    color: #ccc;
    height: 32px;
    width: 32px;
    margin: 8px;
    position: absolute;
    top: 0;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#saveGame:hover, 
#resetGame:hover,
#dump:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#saveGame {right: 0;}
#resetGame {left: 0;}

