/* Points */

.point {
    width: var(--point-base-width);
    height: var(--point-base-height);
    margin: var(--point-base-margin);
    border-radius: 50%;
}

.point.basic {
    background-color: var(--click-gen-bg-color);
}

.point.solid {
    --point-base-width: var(--point-max-unit);
    --point-base-height: var(--point-max-unit);
    --point-base-margin: calc((var(--point-max-unit) - var(--point-base-unit)) / 2);

    background-color: var(--cd-gen-bg-color);
    width: var(--point-base-width);
    height: var(--point-base-height);
    margin: var(--point-base-margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.point.solid div.inner-point {
    background-color: var(--click-gen-bg-color);
    height: 42px;
    width: 42px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 4px 2px #ffffff;
}

.point.energy {
    --point-base-width: calc(var(--point-base-unit) * 0.75);
    --point-base-height: calc(var(--point-base-unit) * 0.75);
    --point-base-margin: calc((var(--point-max-unit) - var(--point-base-unit)) / 2);

    width: var(--point-base-width);
    height: var(--point-base-height);
    margin: var(--point-base-margin);
    background-color: var(--charge-gen-bg-color);
    transform: translate(0, 0);
    transition: transform 0.6s ease-in-out;
    will-change: transform;
}