/* Points */

.point {
    width: var(--point-base-width);
    height: var(--point-base-height);
    margin: var(--point-base-margin);
    border-radius: 50%;
}

.point.basic {
    background-color: rgb(var(--click-gen-bg-color));
}

.point.solid {
    --point-solid-unit: var(--point-max-unit);

    --point-base-width: var(--point-solid-unit);
    --point-base-height: var(--point-solid-unit);
    --point-base-margin: calc((var(--point-max-unit) - var(--point-solid-unit)) / 2);

    background-color: rgb(var(--cd-gen-bg-color));
    width: var(--point-base-width);
    height: var(--point-base-height);
    margin: var(--point-base-margin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.point.solid div.inner-point {
    background-color: rgb(var(--click-gen-bg-color));
    width: calc((var(--point-base-width) / 10) * 7);
    height: calc((var(--point-base-height) / 10) * 7);
    border-radius: 50%;
    box-shadow: inset 0px 0px 4px 2px #ffffff;
}

.point.energy {
    --point-energy-unit: calc(var(--point-base-unit) * 0.75);

    --point-base-width: var(--point-energy-unit);
    --point-base-height: var(--point-energy-unit);
    --point-base-margin: calc((var(--point-max-unit) - var(--point-energy-unit)) / 2);

    width: var(--point-base-width);
    height: var(--point-base-height);
    margin: var(--point-base-margin);
    background-color: rgb(var(--pulse-gen-bg-color));
    transform: translate(0, 0);
    transition: transform 0.6s ease-in-out;
    will-change: transform;
}