/* Storage */

#storage {
    flex: 0 1 280px;
    width: 100%;

    display: flex;
    align-content: center;
    align-items: flex-end;
    justify-content: space-between;
}

#storage .wrap {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column-reverse;
}

#storage #dump {
    width: 48px;
    height: 48px;
    background-color: grey;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

#storage #storage-upgrade {
    width: 48px;
    height: 48px;
    aspect-ratio: 1 / 1;
    background-color: #805840;
    border-radius: 8px;
    clip-path: polygon(0 100%, 0 0, 20% 0, 20% 80%, 80% 80%, 80% 0, 100% 0, 100% 100%);
    transition: width var(--width), opacity var(--opacity), transform var(--transform);
    transition-timing-function: var(--smooth-transition);
    cursor: pointer;
}
#storage #storage-upgrade ~ .icon {
    position: absolute;
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #512f1b;
    font-size: 24px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    transition: transform var(--transform);
    transition-timing-function: var(--smooth-transition);
}
#storage #storage-upgrade-wrap .icon.no-width.no-opacity {
    cursor: unset;
}

#storage #storage-upgrade ~ .cost-preview {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    bottom: 80px;
    right: 32px;
    width: 90px;
    opacity: 0;
    transition: opacity var(--opacity);
    transition-timing-function: ease-in-out;
    pointer-events: none;
}
#storage #storage-upgrade-wrap:hover #storage-upgrade,
#storage #storage-upgrade-wrap:hover .icon {
    transform: scale(1.15);
}
#storage #storage-upgrade-wrap:hover:not(:has(#storage-upgrade.no-width.no-opacity)) .cost-preview {
    opacity: 1;
}

#storage:has(#storage-upgrade-wrap:hover) #points {
    border-color: #79797960;
}

#storage #points{
    --storage-points-per-row: 5;
    --storage-points-dimension: 60px;
    --storage-points-margin: 12px;
    --storage-points-max-width: calc((var(--storage-points-dimension) + var(--storage-points-margin)) * var(--storage-points-per-row) + var(--storage-points-margin));

    display: flex;
    flex-wrap: wrap;
    gap: var(--storage-points-margin);
    max-width: var(--storage-points-max-width);
    padding: 8px;
    box-sizing: border-box;
    border: 2px transparent dashed;
    border-radius: 32px;

    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;

    transition: border-color var(--opacity);
    transition-timing-function: var(--smooth-transition);
}

#storage #points .wrap {
    width: 60px;
    height: 60px;
}

#storage #points div.point {
    transition: width var(--width), height var(--height), transform var(--shrink);
    transition-timing-function: var(--smooth-transition);
    will-change: transform;
}

#storage #points div.point:hover {
    transform: translateY(-12px);
}
#storage #points div.point.solid:hover {
    transform: translateY(-6px);
}