:root {
    --rows: 6;
    --columns: 6;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

#saveGame, 
#resetGame {
    color: #ccc;
    height: 32px;
    width: 32px;
    margin: 8px;
    position: absolute;
    top: 0;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#saveGame:hover, 
#resetGame:hover,
#dump:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#saveGame {right: 0;}
#resetGame {left: 0;}

#dump {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 48px;
    height: 48px;
    margin: 8px;
    background-color: grey;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}

/* Grid */

.cell {
    border-radius: 32px;
    height: 128px;
    width: 128px;
    text-align: center;
    transition-duration: 770ms;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cell:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.cell:active {
    transform: scale(1.05);
}

.cell.hint {
    border: var(--bolder-border--light-border);
}

.cell.blank {
    border: var(--bolder-border--bold-border);
}

.cell:disabled {
    opacity: 0.6;
    cursor: default;
    transform: none;
}

.cell .cost-preview {
    height: 100%;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0;
    transition-duration: inherit;
}

.cell .cost-preview:hover {
    opacity: 1;
}

.cell div.ripple {
    position: absolute;
    background: inherit;
    border-radius: inherit;
    width: inherit;
    height: inherit;
    pointer-events: none;
    transform: scale(0.8);
    opacity: 0.8;
}




/* Central */
#central {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
}

/* Generators */

/* Click */
#clickGenerator.cell {
    background-color: orange;
}
#clickGenerator.cell:active {
    background-color: #ffa500bf;
    transform: scale(1.05);
}

/* CoolDown */
#cooldownGenerator.cell {
    width: 96px;
    height: 160px;
    background-color: #ff7e00;
}
#cooldownGenerator.cell:active {
    background-color: #ff7e00bf;
    transform: scale(1.05);
}
#cooldownGenerator.cell.hint,
#cooldownGenerator.cell.blank {
    background-color: unset;
}
#cooldownGenerator.cell.on-cd::before {
    content: '';
    position: absolute;
    background: conic-gradient(transparent var(--cooldownGenerator-oncd-dg, 0deg), #a75c13 0deg);
    border-radius: inherit;
    width: inherit;
    height: inherit;
    pointer-events: none;
}

/* Points */

.point {
    width: 48px;
    height: 48px;
    background-color: orange;
    margin: 4px;
    border-radius: 50%;
}

.point.solid {
    background-color: #ff7e00;;
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.point.solid div.inner-point {
    background-color: orange;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 4px 2px #ffffff;
}

/* Storage */

#storage {
    flex: 1 1 25%;
    width: 100%;
    max-width: 80%;
    min-height: 68px;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#storage #storage-upgrade {
    width: 48px;
    height: 48px;
    aspect-ratio: 1 / 1;
    background-color: unset;
    border: 1px dashed grey;
    border-radius: 50%;
}

#storage #points{
    flex: 0 1 auto;
    width: auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#storage #points div.point {
    transition: width var(--width), transform 270ms 60ms;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

#storage #points div.point:hover {
    transform: translateY(-12px);
}


/* Cost Preview */

div.cost-preview div.point {
    max-width: 24px;
    max-height: 24px;
    opacity: 0.55;
}

div.cost-preview div.point.solid {
    max-width: 30px;
    max-height: 30px;
    opacity: 0.55;
}

div.cost-preview div.point.solid div.inner-point {
    background-color: orange;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 4px 2px #ffffff;
}